* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  line-height: 1.6;
}

input {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
  color: #333;
  border-radius: 5px;
  border: 2px #ccc solid;
  transition: 0.2s;
}

::placeholder {
  color: #777;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #777;
}

::-ms-input-placeholder {
  color: #777;
}

input:hover {
  border: 2px #777 solid;
}

input:focus {
  outline: none;
  border: 2px #007fff solid;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
}

th,
td {
  padding: 15px;
}

p {
  margin: 10px 0;
}

pre {
  display: block;
  background: #e6e6e6;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  font-family: monospace;
  white-space: pre;
  text-align: left;
  min-width: 25%;
}

::-moz-selection {
  background: #007fff;
  color: #fff;
}

::selection {
  background: #007fff;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
  
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

.main {
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  background-color: #fff;
  color: #fff;
  height: 70px;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #777;
  padding: 10px;
  margin: 0 10px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #000;
}

.navbar .logo {
  height: 100%;
  padding: 20px
}

.navbar .flex {
  justify-content: space-between;
}

.footer {
  width: 100%;
  color: #fff;
  padding: 10px;
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.footer p {
  margin: 15px;
}

.footer .github {
  margin: 10px;
}

.column-40 {
  float: left;
  width: 40%;
  padding: 20px;
}

.column-50 {
  float: left;
  width: 50%;
  padding: 20px;
}

.column-60 {
  float: left;
  width: 60%;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 768px) {
  .column-40,
  .column-50,
  .column-60 {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .navbar {
    height: 120px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
  }
}
