@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


:root {
  --bg-color: #131320;
  --text-color: #ddd;

  --light-color: #ddd;
  --light-transparent: #ddd3;

  --medium-color: #777;
  --medium-transparent: #7773;

  --dark-color: #333;
  --dark-transparent: #3333;

  --primary-color: #007fff;
  --primary-color-100: #820cfe;
  --accent-color: #e6437c;
  --accent-color-100: #c40bec;

  --blue: #007fff;
  --green: #31ff38;
  --yellow: #ffc107;
  --orange: #ff6728;
  --pink: #e6437c;

  --shadow-color: #0005;
  --doc-transparent: #7773;

  --keyword: #ff7b72;
  --builtin: #d2a8ff;
  --kwarg: #c9d1d9;
  --number: #c9d1d9;
  --variable: #c9d1d9;
  --string: #a5d6ff;
  --class: #ffa657;
  --function: #d2a8ff;
  --method: #d2a8ff;
  --namespace: #ffa657;

  --blur: 10px;
  --radius: 10px;

  --text-font: Poppins, sans-serif;
  --mono-font: monospace;
}

::selection {
  background-color: var(--primary-color);
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}



/* Animations */

@keyframes fadeIn {
  from {
    filter: blur(var(--blur));
  }

  to {
    filter: blur(0);
  }
}

@keyframes afterBounce {
  from {
    transform: translateY(10px);
  }

  to {
    transform: translateY(-10px);
  }
}

@keyframes beforeBounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(20px);
  }
}



/* Types */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100%;
  margin: 0;
  background: var(--bg-color);
  font-family: var(--text-font);
  font-weight: 300;
  line-height: 1.6;
  font-size: 12pt;
  letter-spacing: 1px;
  color: var(--text-color);
  animation: fadeIn 300ms ease-in;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(150deg, var(--accent-color), var(--accent-color-100));
  clip-path: circle(12% at left 99%);
  animation: 10s beforeBounce infinite alternate;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, var(--primary-color), var(--primary-color-100));
  clip-path: circle(17% at right 30%);
  animation: 6s afterBounce infinite alternate;
}

main {
  width: 100%;
  padding: 25px 50px;
}

footer {
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin-top: auto;
  padding-bottom: .5em;
  box-shadow: 0 0 20px 5px var(--shadow-color);
  background-color: var(--medium-transparent);
  backdrop-filter: blur(var(--blur));
  user-select: none;
}

footer p,
footer a {
  display: block;
  margin: auto 30px;
  font-size: 12pt;
  color: white;
  text-decoration: none;
  transition: color 300ms;
}

footer a:hover {
  color: var(--text-color);
}

footer ul {
  display: flex;
  margin: auto;
  list-style: none;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
}

h1,
h2,
h3 {
  position: relative;
  margin-bottom: 1em;
}

* + h1,
* + h2,
* + h3 {
  margin-top: 3em;
  margin-bottom: 0;
}

h1 code {
  font-size: .7em;
}

p {
  margin-top: 1em;
  font-weight: 300;
  font-size: 12pt;
}

b {
  font-weight: 700;
}

a {
  cursor: pointer;
  text-decoration: none;
}

em {
  font-weight: 500;
  font-style: normal;
  color: var(--yellow);
}

em::selection {
  background: var(--yellow);
  color: var(--dark-color);
}

blockquote {
  margin-top: 1em;
  padding-left: 1em;
  border-left: 6px var(--primary-color) solid;
  font-weight: 300;
}

mark {
  display: inline-block;
  padding-inline: 4px;
  border-radius: .2em;
  background-color: var(--medium-color);
  color: white;
  white-space: nowrap;
}

pre {
  position: relative;
  margin: 1em 0 2em;
  padding: 1em;
  border-radius: var(--radius);
  background-color: #0d1117;
  font-family: var(--mono-font);
  font-size: 11pt;
  color: var(--text-color);
  white-space: pre;
  overflow: auto;
}

code {
  display: inline-block;
  padding: .1em .6em;
  border-radius: 1em;
  background-color: var(--medium-color);
  font-family: var(--mono-font);
  font-size: .8em;
  color: white;
  white-space: nowrap;
}

kbd {
  display: inline-block;
  padding: .1em .6em;
  border-radius: 1em;
  background-color: var(--medium-color);
  font-family: var(--mono-font);
  font-size: .8em;
  color: white;
  white-space: nowrap;
}

img {
  user-select: none;
  pointer-events: none;
}

img:not([alt]) {
  filter: blur(calc(var(--blur) / 2));
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
}

input {
  width: 100%;
  padding: 5px 20px;
  border-radius: 2em;
  border: 2px solid transparent;
  background-color: var(--medium-transparent);
  font-family: var(--text-font);
  font-size: 12pt;
  color: var(--text-color);
  transition: 300ms ease-out;
}

input:hover {
  background-color: var(--light-transparent);
  transition: background 300ms ease-out;
}

input:focus {
  border-color: var(--primary-color);
  background-color: var(--light-transparent);
  outline: none;
  transition: background 300ms ease-out;
}

input::placeholder {
  color: var(--text-color);
  user-select: none;
}

ul {
  padding: 1em 0 0 20px;
}

table {
  overflow: auto;
  margin: 30px;
  border: 1px solid var(--light-color);
  border-radius: var(--radius);
  border-left: 0;
  border-spacing: 0;
  border-collapse: separate;
  box-shadow: 0 0 20px 5px var(--shadow-color);
  background-color: var(--medium-transparent);

  color: var(--text-color);
  backdrop-filter: blur(var(--blur));
  cursor: default;
}

tr {
  display: table-row;
  vertical-align: middle;
}

th {
  padding: .5em 1em;
  border-left: 1px solid var(--text-color);
  background-color: var(--dark-transparent);
  text-align: center;
  user-select: none;
}

td {
  padding: 1em 1em;
  border-left: 1px solid var(--light-color);
  border-top: 1px solid var(--light-color);
  font-size: .9em;
  font-weight: 500;
  text-align: left;
}

td[colspan] {
  padding: 1em 2em;
  background-color: var(--dark-transparent);
  font-size: 1.1em;
  text-align: center;
}

tr:nth-child(even) {
  background-color: var(--dark-transparent);
}

thead:first-child tr:first-child th:first-child {
  border-radius: var(--radius) 0 0 0;
}

thead:first-child tr:last-child th:last-child {
  border-radius: 0 var(--radius) 0 0;
}

tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 var(--radius);
}

tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 var(--radius) 0;
}



/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  padding: 0 80px;
  width: 100%;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to left, var(--accent-color), var(--accent-color-100), var(--primary-color-100), var(--primary-color));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(110% - 1.5vw));
  user-select: none;
}

.navbar a {
  display: block;
  margin: auto 10px;
  padding: 0 10px 10px 10px;
  font-weight: 500;
  font-size: 14pt;
  color: white;
  text-decoration: none;
  transition: color 300ms;
}

.navbar a:hover {
  color: var(--text-color);
}

.navbar .logo {
  float: left;
  padding-top: 10px;
  transition: transform 300ms;
}

.navbar ul {
  display: flex;
  margin: auto 0;
  list-style: none;
}



/* Text styles */

.source {
  margin-top: 4em;
  font-size: 0.8em;
  text-align: right;
}

.source a {
  font-weight: 300;
}

.text--center {
  text-align: center;
}

.wip {
  margin-top: 2em;
  font-weight: 700;
  color: var(--accent-color);
}

.wip::before {
  content: "This site is a work in progress.";
}

.img__floated {
  float: left;
  margin: 5px 20px 0 0;
}

.main__title {
  margin-bottom: 2em;
}

.tldr {
  display: inline-block;
  border-radius: var(--radius);
  background-color: var(--light-transparent);
  min-height: 2em;
  padding: 5px 15px;
}

.tldr::before {
  content: "TL;DR:";
  margin-right: 1em;
  font-weight: 700;
}



/* List styles */

::marker {
  font-size: 1.1em;
  color: var(--primary-color);
}

.values {
  padding-left: 40px;
}



/* Main layout */

.content-sidebar {
  display: flex;
  gap: 1rem;
}

.content-sidebar .intro > *:nth-child(1) {
  flex: 1 1 60%;
}

.content-sidebar .intro > *:nth-child(2) {
  top: 100px;
  flex: 1 1 30%;
}

.content-sidebar .docs > *:nth-child(1) {
  flex: 1 1 70%;
  background-color: red;
}

.content-sidebar .docs > *:nth-child(2) {
  top: 100px;
  flex: 1 1 30%;
}



/* Cards */

.card {
  margin: 30px;
  padding: 20px;
  place-items: center;
  border: 1px solid var(--light-transparent);
  border-radius: var(--radius);
  box-shadow: 0 0 20px 5px var(--shadow-color);
  background-color: var(--medium-transparent);
  color: var(--text-color);
  backdrop-filter: blur(var(--blur));
}

.card--search {
  position: sticky;
  width: 280px;
  height: 30rem;
}

.card--nav {
  position: sticky;
  min-width: 300px;
  height: fit-content;
}

.card--intro {
  padding: 40px;
}

.card--docu {
  padding: 40px;
}

.card--ohno {
  position: relative;
  width: 40rem;
  margin: auto;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex.docs--page {
  margin-bottom: 2em;
}

.flex.docs--page * {
  transition: 100ms ease-out;
}

#resultNumber {
  margin: auto 0 auto 2em;
  padding: 5px 20px;
  border-radius: 2em;
  border: 2px solid transparent;
  background-color: var(--light-transparent);
  font-family: var(--text-font);
  font-size: 12pt;
  font-weight: 700;
  white-space: nowrap;
  user-select: none;
  transform: scaleX(1);
}

#resultNumber:empty {
  transform: scaleX(0);
  padding: 0;
  margin: 0;
}



/* Nav and search bars */

.search__ul {
  overflow: auto;
  max-height: 65%;
  padding: 0 15px 10px 0;
  list-style-type: none;
  user-select: none;
}

.search__ul li a {
  display: block;
  margin: 2px 0;
  padding: 5px 15px;
  border-radius: var(--radius);
  outline: none;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  transition: background 300ms;
}

.search__ul li a:hover,
.search__ul li a:focus {
  background-color: var(--light-transparent);
  transition: 0;
}

.nav__title {
  position: relative;
  margin: 10px 0 30px 0;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  user-select: none;
}



/* Links */

.link {
  position: relative;
  background-image: linear-gradient(to left, var(--accent-color), var(--accent-color-100), var(--primary-color-100), var(--primary-color));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  transition: background 50ms;
}

.link:hover {
  background-size: 100% 2px;
  transition: 200ms;
}

.link--grey {
  background-image: linear-gradient(to right, var(--text-color), var(--text-color));
  color: var(--text-color);
}



/* Buttons */

.normal__button {
  position: relative;
  display: inline-block;
  margin: 1em 0;
  padding: 8px 14px;
  max-width: 20ch;
  border: 1px solid var(--light-transparent);
  border-radius: 1.5em;
  box-shadow: 0 0 5px 3px var(--shadow-color);
  background-color: var(--medium-transparent);
  font-size: 1em;
  font-weight: 500;
  font-family: var(--text-font);
  color: var(--text-color);
  user-select: none;
  overflow: hidden;
}

.normal__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 100%;
  background-color: var(--light-transparent);
  transform: skewX(45deg) translateX(600%);
  transition: none;
}

.normal__button:hover::before {
  transform: skewX(45deg) translateX(-200%);
  transition: transform 500ms;
}

.accent__button {
  position: relative;
  display: inline-block;
  margin: 1em 0;
  padding: 8px 14px;
  max-width: 20ch;
  border: 1px solid var(--light-transparent);
  border-radius: 1.5em;
  box-shadow: 0 0 5px 3px var(--shadow-color);
  background-image: linear-gradient(to left, var(--accent-color), var(--primary-color-100), var(--primary-color));
  background-size: 110%; /* To avoid glitching */
  background-position: center;
  font-size: 1em;
  font-weight: 500;
  font-family: var(--text-font);
  color: var(--text-color);
  user-select: none;
  overflow: hidden;
}

.accent__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 100%;
  background-color: var(--light-transparent);
  transform: skewX(45deg) translateX(600%);
  transition: none;
}

.accent__button:hover::before {
  transform: skewX(45deg) translateX(-200%);
  transition: transform 500ms;
}

.go__button {
  position: relative;
  display: inline-block;
  margin: 1em 0;
  padding: 8px 14px;
  border-radius: 1.5em;
  box-shadow: 0 0 5px 3px var(--shadow-color);
  background-image: linear-gradient(to left, var(--accent-color), var(--primary-color-100), var(--primary-color));
  background-size: 110%; /* To avoid glitching */
  background-position: center;
  font-size: 1em;
  font-weight: 500;
  font-family: var(--text-font);
  color: var(--text-color);
  user-select: none;
  overflow: hidden;
  transition: padding 200ms ease-out;
}

.go__button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  display: inline-block;
  width: .5em;
  height: .5em;
  border-width: 0 .15em .15em 0;
  border-color: var(--light-color);
  border-style: solid;
  opacity: 0;
  transform: rotate(-45deg) translateY(-75%);
  transition: 200ms ease-out;
}

.go__button:hover::after {
  right: 14px;
  opacity: 1;
}

.go__button:hover {
  padding-right: 40px;
}

.top__button {
  position: fixed;
  display: flex;
  place-items: center;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px var(--shadow-color);
  background-color: var(--primary-color);
  user-select: none;
  transform: scale(0);
  transition: 300ms;
}



/* Documentation classes */

.doc__card {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  padding: 40px;
  padding-right: 40px;
  background-color: var(--doc-transparent);
  border: 1px transparent solid;
  border-radius: var(--radius);
  backdrop-filter: none;
}

.code__name {
  font-size: 1.2em;
  font-weight: 700;
}

.code__name code {
  font-weight: 500;
}

.code__type {
  margin-left: 1em;
  font-size: 12pt;
}

.code__desc {
  margin: .5em 0 2em 1em;
  font-size: 12pt;
}

.code__desc > p:first-child {
  margin-top: 0;
}

.doc--table {
  margin-left: 0;
}



/* Link card */

.link__card {
  display: block;
  margin: 0 0 1em;
  padding: 10px 20px;
  justify-content: space-between;
  border: none;
  border-radius: var(--radius);
  background-color: var(--medium-transparent);
  backdrop-filter: none;
  overflow: hidden;
  transition: background 300ms;
}

.link__title {
  margin: auto 0;
  font-size: 1.2em;
  font-weight: 500;
}

.link__desc {
  margin: 5px 0;
}

.link__ul {
  padding-left: 0;
  list-style-type: none;
  user-select: none;
}

.link__ul li a {
  font-size: 12pt;
  color: var(--text-color);
  text-decoration: none;
}

.link__card:hover,
.link__card:focus {
  background-color: var(--light-transparent);
  outline: none;
  transition: 0;
}



/* Code box / syntax highlight classes */

.python__code:has(> .download__bar),
.tcl__code:has(> .download__bar) {
  padding: 6em 2em 2em;
}

.python__code .download__bar,
.tcl__code .download__bar {
  position: absolute;
  padding: 1em;
  top: 0;
  left: 0;
  background-color: #333;
  width: 100%;
  user-select: none;
  height: 5em;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 2em;
  place-items: center;
}

.python__code .download__bar span,
.tcl__code .download__bar span {
  left: 2em;
  text-align: left;
  width: 100%;
}

.python__code .download__bar a,
.tcl__code .download__bar a {
  position: absolute;
  display: inline-block;
  right: 2em;
  padding: 8px 14px;
  border: 1px solid var(--light-transparent);
  border-radius: 1.5em;
  background-color: var(--primary-color);
  font-size: 12pt;
  font-weight: 500;
  font-family: var(--text-font);
  color: var(--text-color);
  transition: padding 200ms linear;
}

.python__code .download__bar a::after,
.tcl__code .download__bar a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  display: inline-block;
  width: .5em;
  height: .5em;
  border-width: 0 .15em .15em 0;
  border-color: var(--light-color);
  border-style: solid;
  opacity: 0;
  transform: rotate(45deg) translateY(-75%);
  transition: 200ms cubic-bezier(0, 0.1, 0.6, 1);
}

.python__code .download__bar a:hover::after,
.tcl__code .download__bar a:hover::after {
  right: 1.5em;
  opacity: 1;
}

.python__code .download__bar a:hover,
.tcl__code .download__bar a:hover {
  padding-right: 40px;
}

.python__code .keyword,
.tcl__code .keyword {
  color: var(--keyword);
}

.python__code .builtin,
.tcl__code .builtin {
  color: var(--builtin);
}

.python__code .kwarg,
.tcl__code .kwarg {
  color: var(--kwarg);
}

.python__code .number,
.tcl__code .number {
  color: var(--number);
}

.python__code .string,
.tcl__code .string {
  color: var(--string);
}

.python__code .class,
.tcl__code .class {
  color: var(--class);
}

.python__code .function,
.tcl__code .function {
  color: var(--function);
}

.python__code .method,
.tcl__code .method {
  color: var(--method);
}

.python__code .namespace,
.tcl__code .namespace {
  color: var(--namespace);
}

.tcl__code .variable {
  color: var(--variable);
}



/* Platform icons */

.tux::after {
  content: url(icons/linux.svg);
  position: relative;
  height: 1em;
  margin-inline: 4px;
}

.win::after {
  content: url(icons/windows.svg);
  position: relative;
  height: 1em;
  margin-inline: 4px;
}

.mac::after {
  content: url(icons/mac.svg);
  position: relative;
  height: 1em;
  margin-inline: 4px;
}



/* Media queries */

@media (max-width: 1000px) {
  .content-sidebar > *:nth-child(2) {
    display: none;
  }

  body::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    top: -80px;
    height: 150px;
    flex-direction: column;
    background-image: linear-gradient(-50deg, var(--accent-color), var(--primary-color));
    clip-path: none;
  }

  .navbar .logo {
    display: block;
    float: none;
    margin: auto;
  }

  .navbar .logo:hover {
    transform: none;
  }

  .link__desc {
    display: none;
  }

  .content-sidebar > *:nth-child(1) {
    min-width: 100px;
  }

  .python__code {
    padding-top: 2em;
  }

  .python__code .download__bar,
  .tcl__code .download__bar {
    display: none;
  }
}

@media (max-height: 400px) {
  body::after {
    display: none;
  }

  .content-sidebar > *:nth-child(2) {
    display: none;
  }
}
