@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu+Mono&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Open Sans, sans-serif;
  background-color: #f7f7f7;
  line-height: 1.6;
}

::placeholder {
  color: #777;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #777;
}

::-ms-input-placeholder {
  color: #777;
}

input {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
  color: #333;
  border-radius: 5px;
  border: 2px #ccc solid;
  transition: 0.2s;
}

input:hover {
  border: 2px #777 solid;
}

input:focus {
  transition: none;
  outline: none;
  border: 2px #007fff solid;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

b {
  font-weight: 700;
}

h1 {
  font-weight: 600;
  color: #333;
}

h2 {
  color: #777;
}

p {
  margin: 10px 0;
}

img {
  margin: 0 4px;
}

dt {
  color: #333;
  font-size: 14pt;
  display: block;
  margin: 35px 0px 10px 20px;
  display: list-item;
  list-style-type: disc;
}

dd {
  color: #333;
  font-size: 12pt;
  display: block;
  margin-left: 40px;
}

pre {
  display: block;
  background: #eee;
  color: #333;
  padding: 16px;
  border-radius: 4px;
  font-family: Ubuntu Mono;
  white-space: pre;
  width: 75%;
  font-size: 12pt;
  border: 1px solid #ccc;
  margin: 15px 0;
}

code {
  border-radius: 5px;
  background: #ccc;
  padding: 2px 6px;
}

::-moz-selection {
  background: #007fff;
  color: #fff;
}

::selection {
  background: #007fff;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
  
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

.main {
  width: 100%;
}

.link {
  text-decoration: none;
  color: #007fff;
}

.link:hover {
  color: #3389ff;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.sticky-chapter {
  position: sticky;
  top: 100;
}

.navbar {
  background-color: #fff;
  color: #fff;
  height: 70px;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #777;
  padding: 10px;
  margin: 0 10px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #000;
  text-decoration: none;
}

.navbar .logo {
  height: 100%;
  padding: 20px
}

.navbar .flex {
  justify-content: space-between;
}

.footer {
  width: 100%;
  color: #fff;
  padding: 10px;
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.footer p {
  margin: 15px;
}

.footer .github {
  margin: 10px;
}

.column-20 {
  float: left;
  width: 20%;
  padding: 20px;
}

.column-30 {
  float: left;
  width: 30%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33%;
  padding: 5px;
}

.column-40 {
  float: left;
  width: 40%;
  padding: 20px;
}

.column-nav {
  float: right;
  width: 33%;
  padding: 20px;
}

.column-50 {
  float: left;
  width: 50%;
  padding: 20px;
}

.column-67 {
  float: left;
  width: 67%;
  padding: 20px;
}

.column-60 {
  float: left;
  width: 60%;
  padding: 20px;
}

.column-70 {
  float: left;
  width: 70%;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 900px) {
  .column-nav {
    display: none;
  }

  .column-67 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .column-20
  .column-30,
  .column-33,
  .column-40,
  .column-50,
  .column-60,
  .column-70 {
    width: 100%;
  }

  pre {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .navbar {
    height: 120px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
  }
}
