.container-main {
  max-width: 100%;
  overflow: hidden;
  padding: 80px 40px 40px 40px
}

.container {
  max-width: 100%;
  overflow: hidden;
  padding: 40px
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 35%);
  padding: 20px;
  margin: 10px;
}

.card-btn {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 35%);
  padding: 10px 20px;
  margin: 25px 10px;
  transition: 0.3s;
  display: block;
  justify-content: space-between;
}

.card-btn .title {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  display: inline-flex;
  word-break: break-all;
}

.card-btn .desc {
  color: #777;
  display: inline-flex;
  padding-right: 50px;
  word-break: break-all;
}

.card-btn:hover {
  transform: scale(1.02);
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #007fff;
  color: #fff;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
}

.btn-outline {
  display: inline-block;
  padding: 9px 29px;
  cursor: pointer;
  background-color: #ccc;
  color: #333;
  border-radius: 5px;
  border: 1px transparent solid;
  transition: 0.2s;
}

.btn:hover {
  background-color: #3398ff;
}

.btn-outline:hover {
  border: 1px #777 solid;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}

.bg-dark a {
  color: #fff;
}

.searchUl {
  list-style-type: none;
  overflow: auto;
  max-height: 75%;
  padding: 10px 15px 10px 10px;
}

.searchUl li a {
  padding: 5px 5px 5px 12px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  display: block
}

.searchUl li a:hover:not(.header) {
  background-color: #ccc;
  box-shadow: 0px 0px 8px 3px rgb(0 0 0 / 35%);
  border-radius: 5px;
  border: none;
}

.sm {
  font-size: 12pt;
}

.md {
  font-size: 24pt;
}

.lg {
  font-size: 30pt;
  font-weight: 700;
}

.xl {
  font-size: 40pt;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}
